@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cor-primaria: #00ADB5;
    --cor-secundaria: #0ACCA0;
    --cor-fundo: #222831;
    --cor-hover: #00B8C2;
    --cor-destaque: #0A58C2;
    --cor-texto: #EEEEEE;
    --cor-chat: #393E46;
}